.navbar-section{
    height: 4.3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: ivory;
}


.nav-item{
    margin: 10vw;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    font-weight: 600;
    align-items: center; 
}
.nav-item:hover{
    color:rgb(255,191,0);
    padding-bottom: 0.5rem;
    transition: 0.3s;
}
.nav-item:active{
    color: white;
    transition: 0.3s;
}

.nav-items{
    display: flex;
    align-items: center;
}
