.events-section {
    position: absolute;
    color: rgb(255, 123, 0);
    top: 87vw;
    left: 43%;
}

.events-text {
    position: absolute;
    font-size: 3.4vw;
    color:rgb(255, 191, 0);
}

.calendar-js{
    position: absolute;
    top: 10vw;
    width: 80vw;
    height: 40vw;
    left: -35vw;
    z-index: -3;
    font-size: 1.1vw;
}

 /* Your custom styles for the month display */
.rbc-toolbar-label {
    position: absolute;
    font-size: 2vw;
    left: 0vw;
    font-weight: bold;
    color: #009800; 
  }
  .rbc-toolbar{
    width: 100%;
    height: 3vw;
  }
  .rbc-toolbar button{
    border: none !important;
    font-size: 1vw;
    padding: .375vw 1vw !important;
    position: absolute;
    left: 38vw;
  }


 