.events-section {
    position: absolute;
    color: rgb(255, 123, 0);
    top: 87vw;
    left: 43%;
}

.events-text {
    position: absolute;
    font-size: 3.4vw;
    color:rgb(255, 191, 0);
}

.calendar-js{
    position: absolute;
    top: 10vw;
    width: 80vw;
    height: 40vw;
    left: -35vw;
}