.events-section {
    position: absolute;
    color: rgb(255, 191, 0);
    top: 89vw;
    left: 43%;
}

.events-text {
    font-size: 3.4vw;
}

.table {
    position: absolute;
    left: -25rem;
    color: black;
    border-collapse: collapse;
    width: 60rem;
    height: 25rem;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: orange;
}

.index {
    font-size: 25px;
}

/* Specify column widths */
.table th:first-child,
.table td:first-child {
    width: 10%;
}

.table th:last-child,
.table td:last-child {
    width: 40%; 
}


.scheduler{
    position: relative;
    left: -20rem;
    top: -2rem;
}

.e-btn{
   display: none;
}


.e-schedule .e-month-view .e-header-cells {
    width: 100rem;
    height: 2rem;
    text-align: center;
    background-color: white;
    color: gold;
    font-weight: 800;
    font-size: 18px;
    max-width: 7rem;
}

.e-schedule .e-month-view .e-work-cells{
    width: 10rem;
    height: 3rem;
   color: orange;
   font-size: 25px;
}
