.about-section{
    position: absolute;
    color: black;
    width: 100%;
    height: 100vw;
    top: 43vw;
}

.about-title{
    color:rgb(255,191,0);
    text-align: center;
    font-weight: bold;
    font-size: 3.3vw;
}

.about-text{
    position: relative;
    left: 50%;
    max-width: 47vw;
    font-size: 1.7vw;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 2.8vw;
    text-align: left;
    color: black;
    margin-top: 4vw;
}

.founder-img{
    position: absolute;
    top: 11vw;
    left: 1.5%;
    width: 47vw;
    height: 33vw;
    border-radius: 1rem;
}
