.donate-button{
    position: absolute;
    top: 149vw;
    left: 36.8%;
    background-color:rgb(255,191,0);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    width: 25vw;
    height: 5vw;
    border-radius: 10px;
}
.donate-button:hover{
    color: black;
}
.donate-button:active{
    color: rgb(255,191,0);
}
.donation-title{
    position: absolute;
    top: 140vw;
    left: 21%;
    font-weight: 800;
    color: black;
    font-size: 3.3vw;
    color: rgb(255,191,0);
}

.donation-message{
    color:green;
    position: absolute;
    top: 156vw;
    left: 15vw;
    max-width: 70vw;
    text-align: center;
    font-size: 1.5vw;
    color: black;

}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.796);
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-content h2 {
    margin-bottom: 20px;
    color: green;
}

.popup-content input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.popup-content button {
    padding: 10px 20px;
    background-color: rgb(255,191,0);;
    color: white;
    font-weight: 800;
    border-radius: 6px;
    border: soild 1px green;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: green;
}
