.donate-button{
    position: absolute;
    top: 149vw;
    left: 34%;
    background-color:rgb(255,191,0);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    width: 25vw;
    height: 5vw;
    border-radius: 10px;
}
.donate-button:hover{
    color: black;
}
.donate-button:active{
    color: rgb(255,191,0);
}
.donation-title{
    position: absolute;
    top: 140vw;
    left: 17.5%;
    font-weight: 800;
    color: black;
    font-size: 3.3vw;
    color: rgb(255,191,0);
}

.donation-message{
    color:black;
    position: absolute;
    top: 156vw;
    left: 13vw;
    max-width: 70vw;
    text-align: center;
    font-size: 1.5vw;
    color: black;

}