/* Payment container styles */
.payment-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(245, 245, 255);
    border-radius: 20px;
    border: 3px solid black; /* Changed border style for clarity */
    height: 28vw;
  }
  
  .payment-container h2 {
    position: absolute;
  top: -17%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: black;
  font-size: 2.8vw;
  padding: 10px 0;
  border-radius: 4px 4px 0 0; /* Optional: rounded corners */
  }
  
  /* Stripe card element styles */
  .stripe-card-element {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem; /* Add padding for spacing */
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange elements vertically */
    justify-content: center; /* Center elements vertically within available space */
    font-size: 19vw;

  }

  .pay-button{
    position: absolute;
    background-color: rgb(5, 112, 222);
    height: 4vw;
    width: 25vw;
    top: 20vw;
    left: 12.5vw;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    font-size: 1.8vw;
  }

  .pay-button:hover{
    background-color: rgb(6, 96, 185);
  }
  


.info-inputs{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}
.info-inputs input{
    left: 50%;
    width: 100%;
    border: none;
    height: 2.4vw;
    background-color: white;
    margin-bottom: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
}