.footer-section{
    position: absolute;
    top: 166vw;
    background-color: black;
    height: 20vw;
    width: 100%;
    font-size: 1.1vw;
}

.footer-address{
    color: white;
    text-align: center;
    max-width: 30vw;
    position: relative;
    left: 34.7%;
    line-height: 2vw;
    margin-top: 1vw;
}

.logos{
    position: absolute;
    display:flex;
    top: 15vw;
    left: 42.2vw;
    height: 3vw;
    width: 7vw;
    justify-content: space-between;
}

.facebook-logo{
    margin-right: 3vw;
}
.instagram-logo{
    margin-right: 3vw;
}

.facebook-logo img,
.instagram-logo img,
.whatsapp-logo img {
  width: 2.6vw; /* Adjust width as needed */
  height: 2.6vw; /* Adjust height as needed */
}

.maps-logo{
    position: absolute;
    display: flex;
    top: 9vw;
    left: 45.7vw;
    border-radius: 3%;
    height: 4vw;
    justify-content: space-between;
}